* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  height: 100vh;
  background-image: url(../img/bg_main.png);
  background-position: center/center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main .title {
  width: 455px;
  padding-top: 71px;
  margin-left: 184px;
  color: #FFCF86;
  text-align: center;
  font-size: 49px;
  font-weight: 400;
}
.main .subtitle {
  width: 620px;
  height: 171px;
  color: #FFF;
  text-align: center;
  font-size: 26px;
  font-weight: 300;
  margin-top: 101px;
  margin-left: 133px;
  font-family: Perpetua;
}
.main .wrapper_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  margin-top: 43px;
  margin-left: 140px;
  width: 550px;
  height: 121px;
}
.main .wrapper_link .link_btn {
  color: #FFC367;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  text-decoration: none;
}
.main .wrapper_link .link_btn:hover {
  color: #FFF;
}
.main button {
  width: 250px;
  height: 68px;
  background: none;
  border: solid 2px rgb(255, 195, 103);
  border-radius: 20px;
  text-align: center;
}
.main button:hover {
  background-color: rgba(255, 194, 103, 0.0745098039);
}

.menu {
  background-color: rgba(29, 18, 10, 0.952);
}
.menu .container {
  padding-top: 20px;
}
.menu .title_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu .title_wrapper path {
  stroke-width: 4.01px;
}
.menu .title {
  color: #FFCF86;
  text-align: center;
  font-family: Perpetua;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: 10px;
}
.menu .wrapper_menu {
  position: relative;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 400px 700px 180px;
  grid-auto-rows: 430px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-right: 120px;
}
.menu .wrapper_menu img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.menu .wrapper_menu .title_menu {
  position: absolute;
  top: 0;
  left: 45%;
  margin-top: 30px;
  color: #FFCF86;
  text-align: center;
  font-family: Pavanam;
  font-size: 38px;
  font-weight: 400;
  letter-spacing: 0.602px;
}
.menu .wrapper_menu .cake_menu {
  width: 480px;
  height: 420px;
}
.menu .wrapper_menu .cake_chocolate {
  width: 400px;
  height: 420px;
}
.menu .wrapper_menu .margin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 95px;
}
.menu .wrapper_menu .menu_icons_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 100px;
  gap: 25px;
}
.menu .wrapper_menu .menu_icons_wrapper img {
  position: absolute;
  left: 35%;
  top: 15%;
  width: 45px;
  height: 45px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.menu .wrapper_menu .menu_icons_wrapper img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
.menu .wrapper_menu .menu_icons_wrapper .buy_icons {
  position: absolute;
}
.menu .wrapper_menu .bg_for_item {
  position: relative;
  width: 200px;
  height: 60px;
  -webkit-transform: rotate(22.883deg);
          transform: rotate(22.883deg);
  background-color: rgba(217, 217, 217, 0.08);
  border-radius: 30px;
}
.menu .devider {
  width: 90%;
  height: 1px;
  background-color: #FFC367;
}

.menu_bg {
  background-color: rgb(29, 18, 10);
  width: 95%;
  margin: 0 auto;
}

.wrapper_menu .descrip_menu {
  width: 600px;
  height: 209px;
  color: #FFF;
  text-align: center;
  font-family: Perpetua;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.4px;
  margin-left: 30px;
}

.wrapper_scroll {
  position: relative;
}
.wrapper_scroll img {
  width: 150px;
  height: 150px;
}
.wrapper_scroll img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.wrapper_scroll .wrapper_menu_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 36px;
}
.wrapper_scroll .wrapper_menu_flex svg {
  margin-left: 70px;
}
.wrapper_scroll .btn {
  position: absolute;
  top: 35%;
  right: 20%;
  width: 187px;
  height: 51px;
  border-radius: 12px;
  border: 0.77px solid #FFC367;
  background: #1E1E1E;
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;
}

.wrapper_menu_flex {
  position: absolute;
  top: 60px;
}

.offer {
  background-color: rgb(29, 18, 10);
  height: auto;
}
.offer .offer_holiday {
  color: #FFCF86;
  text-align: center;
  font-size: 46px;
  font-weight: 200;
  letter-spacing: 9px;
  padding-top: 25px;
}
.offer .wrapper_offer {
  display: grid;
  grid-template-columns: repeat(2, 700px);
  grid-auto-flow: row;
  gap: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}
.offer .wrapper_offer .descrip_offer {
  padding: 20px 50px;
  color: #FFF;
  text-align: center;
  font-family: Perpetua;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.47px;
  margin-top: 35px;
}
.offer .backgr_item {
  position: relative;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 680px;
  height: 460px;
  border-radius: 60px;
  background: rgba(255, 195, 103, 0.03);
}
.offer .backgr_item .relative_cake {
  position: relative;
  z-index: 2;
}
.offer .backgr_item .absolute_cake {
  position: absolute;
  top: -5px;
  left: 30%;
  z-index: 1;
}

.offer_cupcaked {
  min-height: 100%;
  position: relative;
  padding-top: 25px;
  background-color: #1D120A;
}
.offer_cupcaked .title_cupcaked {
  position: absolute;
  top: 0;
  left: 39%;
  margin-top: 70px;
  color: #FFCF86;
  text-align: center;
  font-family: Perpetua;
  font-size: 44px;
  font-weight: 400;
  letter-spacing: 9px;
}
.offer_cupcaked .wrapper_items {
  position: relative;
  top: -120px;
  display: grid;
  grid-template-columns: repeat(2, 690px);
  grid-auto-rows: minmax(690px, auto);
  gap: 70px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.offer_cupcaked .wrapper_items img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.offer_cupcaked .title_textwrap {
  position: relative;
  top: -30px;
  display: grid;
  justify-items: center;
}
.offer_cupcaked .title_item {
  color: #FFCF86;
  text-align: center;
  font-family: Perpetua;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.offer_cupcaked .descrip_item {
  color: #FFF;
  text-align: center;
  font-family: Perpetua;
  font-size: 31.858px;
  font-weight: 400;
  letter-spacing: 0.478px;
  padding: 10px 20px;
}

.before_footer .wrap_title {
  height: 101px;
  background-color: rgba(29, 18, 10, 0.9137254902);
}
.before_footer .title_footer {
  text-align: center;
  padding-top: 30px;
  font-size: 35px;
  color: #FFC367;
}

footer {
  min-height: 656px;
  background-color: #1D120A;
}
footer .wrapper_items {
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-template-rows: 400px auto;
  grid-auto-rows: auto;
  justify-items: center;
  gap: 100px;
  padding: 90px 90px 0 150px;
}
footer .wrapper_items .social_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 340px;
  height: 55px;
  margin-top: 130px;
}
footer .name_contact {
  color: #d2d2d2;
  font-family: Perpetua;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 0.4px;
}
footer .contact_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  margin-top: 30px;
  color: #FFF;
  text-align: center;
  font-family: Perpetua;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: 0.3px;
}
footer .services {
  color: #FFF;
  text-align: center;
  font-family: Perpetua;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .services .title {
  text-align: center;
}
footer .services .descrip_service {
  margin-top: 30px;
}
footer .services input {
  width: 436px;
  height: 53px;
  border-radius: 20px;
  background: rgba(217, 217, 217, 0.73);
  -webkit-box-shadow: 0px 4.01px 4.01px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4.01px 4.01px 0px rgba(0, 0, 0, 0.25);
  resize: none;
  border: none;
  margin-top: 55px;
  padding: 15px;
  font-size: 18px;
}
footer .services .logo_img {
  margin-top: 105px;
}
footer .questions {
  color: #FFC367;
  font-family: Inter;
  font-size: 17px;
  font-weight: 400;
}
footer .questions .box_margin {
  margin-top: 25px;
}
footer .questions input {
  width: 436px;
  height: 50px;
  border-radius: 20px;
  background: rgba(217, 217, 217, 0.73);
  -webkit-box-shadow: 0px 4.01px 4.01px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4.01px 4.01px 0px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 15px;
  font-size: 18px;
}
footer .questions .btn_send {
  margin-top: 50px;
  width: 131px;
  height: 52px;
  border-radius: 12.363px;
  border: 0.773px solid #FFC367;
  background: #1E1E1E;
  margin: 50px 150px;
  color: #FFF;
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  cursor: pointer;
}
footer .questions .btn_send:hover {
  color: #FFC367;
}

@media screen and (max-width: 992px) {
  .main {
    padding: 45px 65px 0 65px;
    background-position: center;
  }
  .main .title {
    margin-left: 100px;
    margin-left: 0;
  }
  .main .wrapper_link {
    margin: 30px;
    width: 62%;
  }
  .main .subtitle {
    width: 70%;
    padding: 0;
    margin: 50px 0 0 0;
  }
  .menu .title {
    font-size: 30px;
    letter-spacing: 4px;
  }
  .menu .wrapper_menu {
    grid-template-columns: 170px 400px 100px;
    gap: 20px;
    padding: 0;
    margin-left: 0;
  }
  .menu .wrapper_menu .bg_for_item {
    -webkit-transform: rotate(0.883deg);
            transform: rotate(0.883deg);
    width: 100px;
  }
  .menu .wrapper_menu .menu_icons_wrapper {
    gap: 20px;
    margin: 0 10px 25px 15px;
  }
  .menu .wrapper_menu .menu_icons_wrapper img {
    width: 40px;
    left: 30%;
  }
  .menu .wrapper_menu .descrip_menu {
    width: 100%;
    margin: 0;
  }
  .menu .wrapper_menu .title_menu {
    left: 35%;
  }
  .menu .wrapper_menu .cake_img {
    width: 100%;
  }
  .menu .wrapper_menu .size_img_special {
    width: 80%;
    margin-left: 5px;
  }
  .wrapper_scroll svg {
    width: 100%;
  }
  .wrapper_scroll .arrow_scrolling {
    height: 55px;
  }
  .wrapper_scroll img {
    width: 110px;
    height: 110px;
  }
  .wrapper_scroll .wrapper_menu_flex {
    margin-left: 5px;
  }
  .wrapper_scroll .btn {
    top: 35%;
    right: 5%;
  }
  .offer .wrapper_offer {
    grid-template-columns: repeat(2, minmax(300px, auto));
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    padding: 0 50px;
  }
  .offer .wrapper_offer .wrapper_cake {
    display: grid;
    justify-items: center;
  }
  .offer .wrapper_offer .descrip_offer {
    padding: 0 15px 20px 15px;
  }
  .offer .backgr_item {
    width: 320px;
    height: 300px;
  }
  .offer .backgr_item .absolute_cake {
    top: 20px;
    left: 20%;
  }
  .offer .sizemedia {
    width: 240px;
    height: 200px;
  }
  .offer .offer_holiday {
    font-size: 40px;
    padding-top: 40px;
  }
  .offer_cupcaked svg {
    width: 100%;
  }
  .offer_cupcaked .title_item {
    width: 250px;
    margin-top: 25px;
  }
  .offer_cupcaked .descrip_item {
    width: 100%;
    padding: 10px 35px;
  }
  .offer_cupcaked .wrapper_items {
    grid-template-columns: repeat(2, minmax(250px, auto));
    gap: 0;
    margin-right: 0;
    padding-top: 55px;
  }
  .offer_cupcaked .wrapper_items .cupcake_special_size_special {
    width: 100%;
    height: 370px;
  }
  .offer_cupcaked .wrapper_items .cupcake_size {
    width: 100%;
    height: 100%;
  }
  .offer_cupcaked .title_cupcaked {
    font-size: 40px;
    width: 100%;
    left: 0;
  }
  footer .questions {
    width: 75%;
  }
  footer .questions .btn_send {
    margin: 30px 100px;
  }
  footer .wrapper_items {
    grid-template-columns: repeat(2, 300px);
    gap: 10px;
    padding: 90px;
  }
  footer .wrapper_items .title_contact {
    margin-right: 75px;
  }
  footer .wrapper_items .social_items {
    margin-top: 30px;
  }
  footer .wrapper_items .social_items {
    margin-top: 90px;
  }
  footer .services {
    display: none;
  }
  footer .questions .title_name {
    font-size: 20px;
  }
  footer .questions .title_email {
    font-size: 20px;
  }
  footer .questions .title_subject {
    font-size: 20px;
  }
  footer .questions input {
    width: 250px;
  }
}
@media screen and (max-width: 767px) {
  .main {
    padding: 45px 65px 0 65px;
    background-position: center;
  }
  .main .title {
    width: 100%;
    font-size: 38px;
  }
  .main .wrapper_link {
    margin: 30px 50px 0 0;
    width: 100%;
  }
  .main .subtitle {
    width: 100%;
  }
  .menu .title {
    font-size: 30px;
    letter-spacing: 4px;
  }
  .menu .wrapper_menu {
    grid-template-columns: 130px 260px 100px;
    gap: 20px;
    padding: 0;
    margin-left: 0;
  }
  .menu .wrapper_menu .bg_for_item {
    -webkit-transform: rotate(0.883deg);
            transform: rotate(0.883deg);
    width: 100px;
  }
  .menu .wrapper_menu .menu_icons_wrapper {
    gap: 20px;
    margin-right: 10px;
    margin-left: 15px;
  }
  .menu .wrapper_menu .menu_icons_wrapper img {
    width: 40px;
  }
  .menu .wrapper_menu .descrip_menu {
    width: 100%;
    margin: 0;
    font-size: 23px;
  }
  .menu .wrapper_menu .title_menu {
    left: 35%;
  }
  .menu .wrapper_menu .cake_img {
    width: 100%;
  }
  .menu .wrapper_menu .size_img_special {
    width: 100%;
    margin-left: 5px;
  }
  .wrapper_scroll .arrow_scrolling {
    height: 55px;
  }
  .wrapper_scroll img {
    width: 110px;
    height: 110px;
  }
  .wrapper_scroll .wrapper_menu_flex {
    margin-left: 5px;
  }
  .wrapper_scroll .btn {
    top: 65%;
  }
  .offer .wrapper_offer {
    grid-template-columns: repeat(2, minmax(250px, auto));
  }
  .offer .wrapper_offer .descrip_offer {
    padding: 0 15px 20px 15px;
  }
  .offer .backgr_item {
    width: 250px;
    height: 300px;
  }
  .offer .sizemedia {
    width: 200px;
    height: 200px;
  }
  .offer .offer_holiday {
    font-size: 40px;
  }
  .offer_cupcaked .title_item {
    width: 250px;
    margin-top: 25px;
  }
  .offer_cupcaked .descrip_item {
    width: 100%;
    padding: 20px 35px 0 35px;
    font-size: 25px;
  }
  .offer_cupcaked .wrapper_items {
    grid-template-columns: repeat(2, minmax(250px, auto));
    gap: 0;
    margin-right: 0;
    padding-top: 105px;
  }
  .offer_cupcaked .wrapper_items .cupcake_special_size_special {
    width: 100%;
    height: 300px;
  }
  .offer_cupcaked .wrapper_items .cupcake_size {
    width: 100%;
    height: 100%;
  }
  .offer_cupcaked .title_cupcaked {
    font-size: 40px;
    width: 100%;
    left: 0;
  }
  footer .questions .btn_send {
    margin: 30px 100px;
  }
  footer input {
    width: 240px;
  }
  footer .wrapper_items {
    grid-template-columns: none;
    padding: 50px 80px 0 80px;
  }
  footer .wrapper_items .title_contact {
    margin-right: 75px;
  }
  footer .wrapper_items .social_items {
    margin-top: 30px;
  }
}
@media screen and (max-width: 575px) {
  .main {
    background-position: center;
    padding: 0;
  }
  .main .title {
    width: 100%;
    margin: 0;
    padding: 75px 25px;
    font-size: 40px;
  }
  .main .subtitle {
    width: 100%;
    margin: 0;
    padding: 0 35px;
    font-size: 23px;
  }
  .main .wrapper_link {
    width: 100%;
    margin: 70px 0 0 0;
  }
  .menu .wrapper_menu {
    grid-template-columns: none;
    grid-template-rows: repeat(4, minmax(100px, auto));
    padding: 50px 10px;
    gap: 0;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  .menu .wrapper_menu .bg_for_item {
    -webkit-transform: rotate(0.883deg);
            transform: rotate(0.883deg);
    width: 150px;
    height: 50px;
  }
  .menu .wrapper_menu .menu_icons_wrapper {
    margin-top: 60px;
  }
  .menu .wrapper_menu .menu_icons_wrapper img {
    height: 40px;
    width: 40px;
    top: 10%;
    left: 37%;
  }
  .menu .wrapper_menu .size_img_special {
    margin-left: 0;
    padding: 0 20px;
    width: 70%;
  }
  .menu .wrapper_menu .cake_img {
    margin: 0;
    width: 70%;
  }
  .menu .wrapper_menu .title_menu {
    position: static;
    left: 0;
    text-align: center;
  }
  .menu .wrapper_menu .descrip_menu {
    width: 100%;
    height: 100%;
    margin: 10px 0 10px 0;
    padding: 0 25px;
  }
  .menu .title {
    font-size: 24px;
    letter-spacing: 1px;
  }
  .wrapper_scroll .arrow_scrolling {
    height: 40px;
  }
  .wrapper_scroll .wrapper_menu_flex svg {
    margin-left: 35px;
  }
  .wrapper_scroll .arrow {
    height: 150px;
  }
  .wrapper_scroll .wrapper_menu_flex {
    top: 40px;
  }
  .wrapper_scroll img {
    width: 70px;
    height: 70px;
  }
  .wrapper_scroll .btn {
    width: 90px;
    height: 35px;
    margin-left: 65px;
    margin-bottom: 20px;
    top: 75%;
  }
  .offer {
    padding: 100px 30px 80px 30px;
    min-height: 500px;
  }
  .offer .offer_holiday {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1px;
  }
  .offer .wrapper_offer {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(300px, auto));
    grid-auto-rows: minmax(300px, auto);
    grid-template-columns: none;
    margin: 40px 30px 0 30px;
    row-gap: 30px;
  }
  .offer .wrapper_offer .descrip_offer {
    font-size: 18px;
    padding: 0;
    margin-top: 10px;
  }
  .offer .wrapper_offer .wrapper_cake {
    display: grid;
    justify-items: center;
  }
  .offer .backgr_item .relative_cake {
    width: 150px;
  }
  .offer .backgr_item .absolute_cake {
    width: 150px;
    top: -5px;
  }
  .offer .backgr_item .sizemedia {
    width: 150px;
    height: 150px;
  }
  .offer .backgr_item {
    width: 250px;
    height: 200px;
  }
  .offer_cupcaked svg {
    display: none;
  }
  .offer_cupcaked .title_cupcaked {
    position: static;
    margin-top: 0;
    font-size: 24px;
    letter-spacing: 1px;
    padding-bottom: 85px;
    left: 0;
  }
  .offer_cupcaked .wrapper_items {
    grid-template-columns: none;
    grid-auto-rows: minmax(50px, auto);
    margin-right: 0px;
    padding: 50px 30px 80px 30px;
    row-gap: 30px;
  }
  .offer_cupcaked .wrapper_items .item_cupcaked {
    display: grid;
    justify-items: center;
  }
  .offer_cupcaked .wrapper_items .cupcake_size {
    width: 70%;
    height: 100%;
  }
  .offer_cupcaked .title_item {
    font-size: 22px;
  }
  .offer_cupcaked .descrip_item {
    width: 100%;
    padding: 0 20px;
    margin-top: 10px;
    font-size: 18px;
  }
  .offer_cupcaked .title_textwrap {
    top: 0;
  }
  .before_footer .wrap_title {
    height: 50px;
  }
  .before_footer .title_footer {
    padding-top: 15px;
    font-size: 20px;
  }
  footer .questions {
    width: 70%;
  }
  footer .questions .box_margin {
    width: 80%;
  }
  footer .questions .btn_send {
    margin: 30px 50px;
    height: 45px;
  }
  footer .questions input {
    width: 270px;
    height: 40px;
  }
  footer .contact_flex {
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  footer .wrapper_items {
    grid-template-columns: none;
    justify-items: start;
    padding: 50px 30px 10px 30px;
  }
  footer .wrapper_items .email_address_one {
    font-size: 18px;
  }
  footer .wrapper_items .email_address_two {
    font-size: 18px;
  }
  footer .wrapper_items .address_one {
    font-size: 18px;
  }
  footer .wrapper_items .social_items {
    margin-top: 30px;
    width: 80%;
  }
}
@media screen and (max-width: 350px) {
  .main {
    padding: 250px 30px;
    background-position: center;
  }
  .main .title {
    width: 100%;
    font-size: 17px;
    padding: 50px 7px 0 7px;
    margin-left: 0;
    font-weight: 900;
    line-height: 20px;
  }
  .main .subtitle {
    display: none;
  }
  .main .wrapper_link {
    width: 100%;
    margin-top: 20%;
    gap: 15px;
  }
  .main .wrapper_link .link_btn {
    font-size: 20px;
  }
  .main button {
    width: 70%;
    height: 40%;
  }
  .menu .wrapper_menu {
    display: grid;
    grid-auto-rows: minmax(80px, auto);
    grid-template-columns: none;
    justify-items: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    padding: 0;
    margin-top: 0;
  }
  .menu .wrapper_menu .menu_icons_wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 15px;
  }
  .menu .wrapper_menu .menu_icons_wrapper img {
    width: 20px;
    height: 20px;
    left: 15px;
  }
  .menu .wrapper_menu .bg_for_item {
    width: 50px;
    height: 30px;
    margin-right: 0;
    margin-bottom: 30px;
    -webkit-transform: none;
            transform: none;
  }
  .menu .wrapper_menu .title_menu {
    position: relative;
    left: 0;
    font-size: 15px;
    top: 10px;
  }
  .menu .wrapper_menu .descrip_menu {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    min-height: 0;
    line-height: 15px;
    font-size: 13px;
    padding: 0 15px;
    margin: 15px 0;
  }
  .menu .wrapper_menu .size_img_special {
    width: 70%;
    margin-left: 0;
  }
  .menu .wrapper_menu .cake_img {
    width: 70%;
  }
  .menu .title {
    width: 100%;
    font-size: 12px;
    letter-spacing: 2px;
  }
  .wrapper_scroll img {
    width: 35px;
    height: 42px;
  }
  .wrapper_scroll .arrow_scrolling {
    height: 15px;
  }
  .wrapper_scroll .wrapper_menu_flex {
    margin-left: 0;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-top: 5px;
  }
  .wrapper_scroll .arrow {
    display: none;
  }
  .wrapper_scroll .wrapper_menu_flex {
    position: static;
    width: 100%;
  }
  .wrapper_scroll .wrapper_menu_flex svg {
    margin-left: 10px;
    display: none;
  }
  .wrapper_scroll .btn {
    width: 80px;
    height: 30px;
    width: 70px;
    height: 30px;
    top: 5px;
    right: 30px;
    font-size: 13px;
  }
  .wrapper_scroll .wrapper_menu_flex {
    margin-left: 5px;
  }
  .wrapper_menu_flex {
    top: 5px;
  }
  .offer {
    padding: 20px 0 80px 0;
    min-height: 500px;
  }
  .offer .offer_holiday {
    font-size: 24px;
    font-weight: 200;
    letter-spacing: 1px;
  }
  .offer .wrapper_offer {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(250px, auto));
    grid-auto-rows: minmax(250px, auto);
    grid-template-columns: none;
    margin: 70px 30px 0 30px;
    row-gap: 30px;
  }
  .offer .wrapper_offer .descrip_offer {
    font-size: 10px;
    padding: 0 10px;
    margin-top: 10px;
    font-size: 13px;
  }
  .offer .wrapper_offer .wrapper_cake {
    display: grid;
    justify-items: center;
  }
  .offer .backgr_item {
    width: 150px;
    height: 150px;
  }
  .offer .backgr_item .relative_cake {
    width: 150px;
  }
  .offer .backgr_item .absolute_cake {
    width: 150px;
  }
  .offer .backgr_item .sizemedia {
    width: 120px;
    height: 100px;
  }
  .offer_cupcaked svg {
    display: none;
  }
  .offer_cupcaked .title_cupcaked {
    font-size: 24px;
    letter-spacing: 1px;
    left: 0;
  }
  .offer_cupcaked .wrapper_items {
    grid-template-columns: none;
    grid-auto-rows: minmax(50px, auto);
    margin-right: 0px;
    padding: 50px 0 10px 0;
    row-gap: 30px;
  }
  .offer_cupcaked .wrapper_items img {
    width: 100%;
  }
  .offer_cupcaked .title_item {
    font-size: 18px;
    width: 80%;
  }
  .offer_cupcaked .descrip_item {
    width: 100%;
    padding: 0 15px;
    font-size: 15px;
  }
  .offer_cupcaked .title_textwrap {
    top: 0;
  }
  .before_footer .wrap_title {
    height: 50px;
    padding: 5px 15px;
  }
  .before_footer .title_footer {
    font-size: 15px;
  }
  footer {
    padding: 0;
  }
  footer .services {
    display: none;
  }
  footer .wrapper_items {
    grid-template-columns: none;
    grid-template-rows: none;
    justify-items: normal;
    gap: 0;
    padding-left: 10px;
  }
  footer .wrapper_items .social_items {
    width: 100%;
    margin-top: 15px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  footer .wrapper_items .social_items img {
    width: 25px;
  }
  footer .name_contact {
    font-size: 18px;
    margin-top: 35px;
  }
  footer .contact_flex {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 11px;
    margin-top: 10px;
  }
  footer .questions .box_margin {
    margin-top: 10px;
  }
  footer .questions .box_margin .title_name {
    font-size: 10px;
  }
  footer .questions .box_margin .title_email {
    font-size: 10px;
  }
  footer .questions .box_margin .title_subject {
    font-size: 10px;
  }
  footer .questions .box_margin input {
    height: 28px;
    width: 200px;
    padding: 0;
  }
  footer .questions .btn_send {
    margin: 15px 0;
    width: 120px;
    height: 20px;
    font-size: 15px;
  }
}/*# sourceMappingURL=index.css.map */